# Node.js files
node_modules/
*.log
npm-debug.log*

# TypeScript files
*.tsbuildinfo

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Environment variables
.env
